<li class="card-library">
  <img class="img-card-library" src="./images/demo.jpg" alt="" data-src="" />
  <div class="movie-information">
    <h2 class="movie-name">Movie name</h2>
    <div class="generes-rating">
      <p class="genres">Genres | 2021</p>
      <div class="rating-container">
        <span class="rating">10</span>
      </div>
    </div>
  </div>
</li>