<!-----------------------MODAL----------------------->

<!-- <div class="movie-backdrop" data-modal>
  <div class="movie-modal">
    <button type="button" class="btn-modal-close" data-modal-close>
      <svg class="icon-close" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="movie-content">
      <img class="movie-image" src="./images/demo.jpg" alt="" width="100px" height="100px" />

      <div class="movie-info">
        <h3 class="movie-name">a fistful of lead</h3>
        <div class="movie-details-lists">
          <ul class="movie-info-titles">
            <li class="movie-vote">Vote / Votes</li>
            <li class="movie-popularity">Popularity</li>
            <li class="movie-oroginal-title">Original title</li>
            <li class="movie-genre">Genre</li>
          </ul>
          <ul class="movie-info-values">
            <li class="movie-vote-value">
              <span class="modal-vote">7.3</span><span>/</span> <span modal-votes>1260</span>
            </li>
            <li class="movie-popularity-value">100.2</li>
            <li class="movie-original-title-value">a fistful of lead</li>
            <li class="movie-genre-value">Westerns</li>
          </ul>
        </div>
        <h4 class="movie-about-title">about</h4>
        <p class="movie-description">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
          the other three escapes with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to hit the very same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
        <div class="movie-btn-container">
          <button class="button basic-button button-add-to-watched" type="button">
            add to watched
          </button>
          <button class="button basic-button button-add-to-queue" type="button">
            add to queue
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="modal-movie-card">
    <div class="modal-overlay"></div>
    <div class="modal-movie-content">
        <button type="button" class="modal-button" data-action="close"></button>
        <img class="movie-image" src="" alt="" />
        <h3 class="movie-name"></h3>
        <div class="movie-info">
            <ul class="movie-info-titles">
                <li>Vote / Votes</li>
                <li>Popularity</li>
                <li>Original title</li>
                <li>Genre</li>
            </ul>
            <ul class="movie-info-values">
                <li class="movie-rating"></li>
                <li class="movie-popularity"></li>
                <li class="movie-original-title"></li>
                <li class="movie-genre"></li>
            </ul>
            <h4 class="about-title">ABOUT</h4>
            <p class="movie-description"></p>
            <button class="add-to-watched-btn">ADD TO WATCHED</button>
            <button class="add-to-queue-btn">ADD TO QUEUE</button>
        </div>
    </div>
</div>-->

<!-- <div class="modal-movie-card">
    <div class="modal-overlay"></div>
    <button type="button" class="modal-button-close" data-action="close"></button>
    <div class="modal-movie-content"></div>
</div> -->
