.button {
  cursor: pointer;
  outline: none;
  border: none;
}

.basic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-light-text-color);
  background-color: var(--primary-accent-color);

  &:focus,
  &:hover {
    background-color: var(--secondary-accent-color);
  }
}

.hero-slider-show-buttons-wrap {
  position: absolute;
  bottom: 4%;
  right: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 108px;

  @include adaptive-for-tablet {
    width: 172px;
    bottom: 25%;
    right: 3%;
  }

  @include adaptive-for-tablet {
    bottom: 15%;
    right: 6%;
  }
}

.hero-slider-show-button {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
  color: var(--basic-light-text-color);
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid var(--basic-light-text-color);

  @include adaptive-for-tablet {
    width: 45px;
    height: 45px;
  }
}

.hero-slider-button-icon-arrow {
  position: absolute;
  display: block;
  width: 34px;
  height: 16px;
  fill: currentColor;
  &.left {
    top: 16%;
    left: 25%;
  }
  &.right {
    top: 16%;
    right: 25%;
  }

  @include adaptive-for-tablet {
    width: 50px;
    height: 25px;
  }
}

.booking-search-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon-geotag {
  width: 25px;
  height: 30px;
  fill: currentColor;
}

.hero-search-button {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 146px;
  height: 72px;
  padding: 20px 50px;
  font-size: 30px;
  line-height: 3;
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
  border-radius: 60px 3px 3px 3px;

  &:focus,
  &:hover {
    background-color: var(--secondary-accent-color);
  }
}

.hero-slider-show-button {
}

.send-button-text {
}

.restaurants-slider-button-wrap {
  position: absolute;
  bottom: 4%;
  left: 45%;

  @include adaptive-for-tablet {
    bottom: 38%;
    left: 92%;
  }

  @include adaptive-for-desktop {
    bottom: 41%;
    left: 75%;
  }
}

.restaurants-slider-button {
  width: 40px;
  height: 40px;
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
  border-radius: 50%;
}

.icon-line {
  position: absolute;
  top: 37%;
  left: -130%;
  z-index: -1;
  width: 72px;
  height: 10px;
  fill: var(--primary-accent-color);
}

.restaurants-icon-arrow {
  width: 8px;
  height: 14px;
  fill: currentColor;
}

.restaurants-overlay-button {
  position: absolute;
  bottom: 30px;
  right: 0;
  padding: 15px 40px;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: var(--primary-accent-color);
  background-color: var(--basic-light-bg-color);
  border-radius: 100px 0px 0px 100px;
}

.booking-search-button {
  width: 80px;
  height: 40px;
  font-size: 24px;
  line-height: 3.75;
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
  border-radius: 3px;
}

.mail-send-button {
  position: absolute;
  top: -10px;
  right: 30px;
  transform: translate(50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mail-send-button-icon {
  width: 20px;
  height: 14px;
  fill: currentColor;
}
