.card-library {
  width: 280px;
  height: 440px;
  @include adaptive-for-tablet {
    width: 293px;
  }
  @include adaptive-for-desktop {
    width: 274px;
  }
}
.img-card-library {
  background: url('https://cdn.pixabay.com/photo/2016/09/14/08/18/film-1668918_960_720.jpg');
  text-indent: -10000px;
  height: 398px;
  width: 280px;
  border-radius: 5px;
  @include adaptive-for-tablet {
    width: 293px;
  }
  @include adaptive-for-desktop {
    width: 274px;
  }
}
.movie-information {
  margin-top: 10px;
  max-width: 274px;
  height: 32px;
  line-height: 16px;
}
.movie-name {
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: var(--medium-font-weight);
  text-transform: uppercase;
}
.generes-rating {
  display: flex;
  color: var(--primary-accent-color);
}
.genres {
  margin: 0;
  font-style: normal;
  font-weight: var(--medium-font-weight);
  color: var(--primary-accent-color);
}
.genres-separator {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}
.rating-container {
  margin-left: 10px;
  width: 36px;
  height: 16px;
  background: var(--primary-accent-color);
  border-radius: 5px;
}
.rating {
  display: flex;
  justify-content: center;
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: var(--medium-font-weight);
  align-items: center;
}
