.menu-burger-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 15px;
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  background-color: transparent;
  // overflow: visible;

  &:hover {
    color: var(--secondary-accent-color);
  }

  &.is-open {
    &:hover {
      color: var(--secondary-accent-color);
    }

    .burger-inner,
    .burger-inner::before,
    .burger-inner::after {
      background-color: var(--basic-light-text-color);
    }
  }

  .burger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }

    &::after {
      transition: bottom 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-open {
    .burger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
          transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  @include adaptive-for-desktop {
    display: none;
  }
}

.burger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.burger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;

  &,
  &::before,
  &::after {
    width: 40px;
    height: 4px;
    background-color: var(--basic-light-text-color);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: '';
    display: block;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}
