.back_to_top {
  width: 67px;
  height: 67px;
  background-image: url('/images/arrow.svg');
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  cursor: pointer;
  display: none;
  transition: var(--hover-focus-transition);
}

.back_to_top:hover {
  background-image: url('/images/arrow-hover.svg');
}

.back_to_top-show {
  display: block;
}
